footer.p-footer
  ul
    li
      a(href="https://www.instagram.com/" target="_blank") Instagram
    li
      a(href="https://x.com" target="_blank") Twitter
    li
      a(href="https://www.facebook.com/" target="_blank") Facebook

  small © Furniture Design
