footer.p-footer.l-padding-horizontal
  ul.p-footer__list
    li.p-footer__list-item
      a(href="https://www.instagram.com/" target="_blank") INSTAGRAM
    li.p-footer__list-item
      a(href="https://x.com" target="_blank") TWITTER
    li.p-footer__list-item
      a(href="https://www.facebook.com/" target="_blank") FACEBOOK

  small.p-footer__copy © Furniture Design
