header.p-header
  .p-header__contents.l-container-horizontal
    h1
      a(href="/")
        img.p-header__logo(src="/assets/images/logo.svg" alt="Furniture Design" width="130" height="15")

    .p-header-hamburger.js-hamburger
      span.p-header-hamburger__line.js-hamburger-line
      span.p-header-hamburger__line.js-hamburger-line

  .p-header-menu.js-global-nav
    nav
      ul
        li.p-header-menu__item
          a.p-header-menu__link(href="/products") PRODUCTS
        li.p-header-menu__item
          a.p-header-menu__link(href="/about") ABOUT
        li.p-header-menu__item
          a.p-header-menu__link(href="/company") COMPANY
        li.p-header-menu__item
          a.p-header-menu__link(href="mailto:xxxxx@xxx.xxx?subject=%E3%81%8A%E5%95%8F%E3%81%84%E5%90%88%E3%82%8F%E3%81%9B") CONTACT

  .p-header-background.js-hamburger-bg
