@use '../../../global' as *;

.p-company-info {
  padding: 20px 10px;

  font-size: fn-rem(14);

  @include mq-up(md) {
    display: flex;
  }

  + .p-company-info {
    border-top: 1px solid $color-border;
  }

  &__title {
    @include mq-up(md) {
      width: 180px;
    }
  }

  &__description {
    margin-top: 10px;

    @include mq-up(md) {
      margin-top: 0;
    }
  }
}

.p-company-map {
  margin-top: 20px;

  filter: grayscale(1);
  position: relative;
  z-index: -1;

  > iframe {
    height: 300px;
    width: 100%;
  }
}
