@use '../../global' as *;
@use 'sass:math';

.p-footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;

  @include mq-up(md) {
  }

  &__contents {
    @include mq-up(md) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__list {
    display: flex;
  }

  &__list-item {
    font-size: fn-rem(12);

    + .p-footer__list-item {
      margin-left: 30px;
    }
  }

  &__copy {
    font-size: fn-rem(10);
  }
}
