@use '../global' as *;

.l-wrapper {
  min-height: 100vh;

  position: relative;
}

.l-main {
  padding-bottom: 160px;
}

.l-container {
  margin-top: 40px;
}

.l-container-horizontal {
  max-width: 1360px;
  padding-right: 40px;
  padding-left: 40px;
  margin-left: auto;
  margin-right: auto;
}
