extends /_layout-default

prepend config-block
  - site.page_name = 'About'

block content-block
  include /_header

  main.l-main
    h2 About

    p テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキスト

    p テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキスト

  include /_footer
