extends /_layout-default

prepend config-block
  - site.page_name = 'About'

block content-block
  include /_header

  main.l-main.l-padding-horizontal.l-container
    h2.c-heading About

    p.p-about__text.u-mt-30 テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキスト

    p.p-about__text.u-mt-30 テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      | テキストテキストテキストテキストテキストテキストテキストテキストテキスト

  include /_footer
