//- ---
//- dynamicPermalink: false
//- permalink: 'xx.html'
//- ---

extends /_layout-default

prepend config-block
  //- - site.page_name = ''
  //- - site.description = ''
  //- - site.keywords = ''
  //- - site.url = ''
  //- - site.ogp_type = 'article'

//- append stylesheet-block
//-   link(rel="stylesheet", href="/assets/styles/page.css")

//- append javascript-block
//-   script(src="/assets/scripts/page.js")

block content-block
  include /_header

  main.l-main.l-padding-horizontal
    .p-products
      - for (let iProduct = 0; iProduct < 8; iProduct++)
        article.p-products__product
          a(href="/item1")
            div
              img(src=`/assets/images/item${iProduct + 1}.jpg.webp` alt="プロダクトタイトルプロダクトタイトル" width="157" height="157")
            .p-products__info
              h2.p-products__name プロダクトタイトルプロダクトタイトル
              p ¥99,999 +tax

    a.p-view-more.c-link--center(href="/products") View More

  include /_footer
