extends /_layout-default

prepend config-block
  - site.page_name = 'Products'

block content-block
  include /_header

  main.l-main.l-container-horizontal.l-container
    h2.c-heading Products

    .p-products.u-mt-30
      - for (let iProduct = 0; iProduct < 12; iProduct++)
        article.p-products__product
          a(href="/item1")
            div
              img.p-products__image(src=`/assets/images/item${iProduct + 1}.jpg.webp` alt="プロダクトタイトルプロダクトタイトル" width="157" height="157")
            .p-products__info
              h3.p-products__name プロダクトタイトルプロダクトタイトル
              p ¥99,999 +tax

    ul.p-products-pagination
      li.p-products-pagination__item
        | 1
      li.p-products-pagination__item
        a(href="/products2") 2

  include /_footer
